I'm constructing a dataset of prompts on philosophical/conceptual topics. I'd like the prompts to be somewhat in the weeds of things, so that models can't just regurgitate something they've seen a million times in pretraining.

I'll give you some higher-level parameters for your prompt.

Please pick one of the following domains:

[TODO: domains list in jinja templating...]

Your prompt should be of the following type:
{{ prompt_type }}

Here are some examples for the _type of prompt_ that I'm interested in. (Unless by coincidence, they won't be on any of the domains you can pick between.)

[TODO: list in jinja templating language]


Finally, here's an instruction on the length of the prompt I'd like you to write: {{ length_instruction }}